<section class="section">
<form class="box" action="/station/{{station._id}}/addReading" method="POST">
<div class="field">
  <label class="label">Weather Conditions</label>
  <div class="control">
    <div class="select">
      <select name="weatherCode">
      <option value="100">Clear</option>
      <option value="200">Partial Clouds</option>
      <option value="300">Cloudy</option>
      <option value="400">Light Showers</option>
      <option value="500">Heavy Showers</option>
      <option value="600">Rain</option>
      <option value="700">Snow</option>
      <option value="800">Thunder</option>
    </select>
  </div>
  </div>
  </div>

  <div class="field">
    <label class="label">Temperature</label>
    <div class="control">
      <input class="input" type="text" placeholder="Temperature" name="temp" required>
    </div>
  </div>

  <div class="field">
    <label class="label">Wind Speed</label>
    <div class="control">
      <input class="input" type="text" placeholder="Wind Speed" name="windSpeed" required>
    </div>
  </div>

  <div class="field">
    <label class="label">Wind Direction</label>
    <div class="control">
      <input class="input" type="text" placeholder="Wind Direction" name="windDirection" required>
    </div>
  </div>

  <div class="field">
    <label class="label">Pressure</label>
    <div class="control">
      <input class="input" type="text" placeholder="Pressure" name="pressure" required>
    </div>
  </div>

  <button class="button is-primary">Manually Add Reading</button>
</form>
<form action="/station/{{station._id}}/addreport" method="POST">
      <div class="field">
        <button class="button is-danger">Generate Live Reading</button>
    </form>
</section>