<form action="/dashboard/addstation" method="POST">
  <div class="field">
    <label class="label">Station Title</label>
    <input class="input" type="text" placeholder="Tramore" name="title" required>
  </div>

  <div class="field">
    <label class="label">Latitude</label>
    <input class="input" type="text" placeholder="52.160858" name="latitude" required>
  </div>

  <div class="field">
    <label class="label">Longitude</label>
    <input class="input" type="text" placeholder="-7.152420" name="longitude" required>
  </div>

  <button class="button is-primary">Add Station</button>
</form>