<table class="table is-fullwidth">
    <thead>
        <tr>
            <th>weatherCode</th>
            <th>Temperature Celsius</th>
            <th>Wind Speed</th>
            <th>Pressure</th>
        </tr>
    </thead>
    <tbody>
        {{#each station.readings}}
        <tr>
            <td>
                {{weatherCode}}
            </td>
            <td>
                {{temp}}
            </td>
            <td>
                {{windSpeed}}

            </td>
            <td>
                {{pressure}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>