<div class="columns">
  <div class="column">

    <strong>First Name</strong> <br>
    {{user.firstName}}

  </div>
  <div class="column">
    <strong>Last Name</strong> <br>
    {{user.lastName}}
  </div>
  <div class="column">

    <strong>Email</strong> <br>
    {{user.email}}
  </div>
  <div class="column">
    <a href="/account/edit" class="button">
      {{> icons/edit-icon}}
    </a>
  </div>
</div>