<div class="columns">
  <div class="column">
    <p>
    First Name: {{user.firstName}}
    </p>
  </div>
  <div class="column">
 Last Name: {{user.lastName}}
  </div>
  <div class="column">
  Email: {{user.email}}
  </div>
   <div class="column">
    <a href="/account" class="button">
    {{> icons/edit-icon}}
  </a>
  </div>
</div>