<div class="columns">
  <div class="column">
    <p>
    First Name: {{firstName}}
    </p>
  </div>
  <div class="column">
 Last Name: {{lastName}}
  </div>
  <div class="column">
  Email: {{email}}
  </div>
</div>