{{> welcome-menu}}

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
       Login or Signup
      </h1>
      <h2 class="subtitle">
      Click Login in the Menu above if you have an existing account or sign up for a free account to get started
      </h2>
    </div>
  </div>
</section>
<br>