{{> menu}}

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Station Readings
      </h1>
      <h2 class="subtitle">
        View station readings and manually or automatically add new readings
      </h2>
    </div>
  </div>
</section>
<br>

<section class="section">
  <div class="title">
    {{station.title}}
  </div>
  {{> latest-reading}}
  {{> list-readings}}

  <a href="/station/{{station._id}}/deleteallreadings" class="button is-danger">
    Delete All Readings
    </a>
    {{> add-reading}}
</section>